/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blue-button {
  background-color: #0e6cff;
  border: 0;
  color: white;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.blue-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.orange-button {
  background-color: #ff8700;
  border: 0;
  color: white;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.orange-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.green-button {
  background-color: #4caf50;
  border: 0;
  color: white;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.green-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.margin-inline-sm {
  margin: 10px;
}

.margin-block-sm {
  margin: 10px;
}

.padding-inline-sm {
  padding: 10px;
}

.padding-block-sm {
  padding: 10px;
}

.margin-inline-normal {
  margin: 12px;
}

.margin-block-normal {
  margin: 12px;
}

.padding-inline-normal {
  padding: 12px;
}

.padding-block-normal {
  padding: 12px;
}

.margin-inline-md {
  margin: 16px;
}

.margin-block-md {
  margin: 16px;
}

.padding-inline-md {
  padding: 16px;
}

.padding-block-md {
  padding: 16px;
}

.margin-inline-lg {
  margin: 24px;
}

.margin-block-lg {
  margin: 24px;
}

.padding-inline-lg {
  padding: 24px;
}

.padding-block-lg {
  padding: 24px;
}

.margin-inline-xl {
  margin: 30px;
}

.margin-block-xl {
  margin: 30px;
}

.padding-inline-xl {
  padding: 30px;
}

.padding-block-xl {
  padding: 30px;
}

.margin-inline-xxl {
  margin: 40px;
}

.margin-block-xxl {
  margin: 40px;
}

.padding-inline-xxl {
  padding: 40px;
}

.padding-block-xxl {
  padding: 40px;
}

.top {
  display: flex;
}
.top img {
  height: 3em;
  border-radius: 50%;
  border: 2px solid lightgreen;
}
.top ul {
  display: flex;
}
.top ul li {
  cursor: pointer;
}

h1 {
  font-size: 2em;
  color: aquamarine;
  font-weight: 700;
  text-align: center;
  display: block;
}

.buttons {
  text-align: center;
}

.hero {
  background-color: #640fc5;
  text-align: center;
}
.hero p {
  width: 30%;
}/*# sourceMappingURL=style.css.map */