@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-family: 'Roboto', sans-serif;

@mixin title-big{
    font-size: 2em;
    color: aquamarine;
    font-weight: 700;
}

