
@mixin floating($border-radius:5px,$box-shadow:-1px 1px 11px 1px rgba(0,0,0,0.78),$border:2px solid black){
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: $border;
}

@mixin grid($rows){
    display: flex;
    
}

